*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(197, 196, 195, 0.747);
  padding: 7px 10px;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  display: flex;
  flex-basis: 400px;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: underline;
  color: white;
  font-size: 22px;
}

#mission {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-image: url("./img/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.mission-text {
  background-color: rgba(0, 0, 0, 0.92);
  color: white;
  padding: 10px 0;
  text-align: center;
  flex-basis: 1200px;
}

.mission-text h2 {
  margin-bottom: 20px;
}

#product {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  text-align: center;
  color: white;
}

.img-holder {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 20px;
}

.img-holder img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.img-holder h4 {
  margin-top: 10px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

#location {
  width: 1200px;
  height: 500px;
  background-image: url("./img/img-locations-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  padding: 50px 0;
  color: white;
}

.mb-15 {
  margin-bottom: 15px;
}

.location-flex {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.card {
  flex-basis: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  border-radius: 5px;
}

.card h3,
.card p {
  margin-bottom: 30px;
}

.card p {
  font-size: 22px;
}

.footer {
  font-family: Helvetica, sans-serif;
}
.upper {
  color: white;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.lower {
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}
