*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
}

nav {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  padding: 7px 10px;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  display: flex;
  flex-basis: 400px;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: underline;
  color: white;
  font-size: 22px;
}

#mission {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-image: url("./img/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.mission-text {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px 0;
  text-align: center;
  flex-basis: 1200px;
}

.mission-text h2 {
  margin-bottom: 20px;
}
